@page
@model WebBanHang.Pages.Contact3.IndexModel
@{
    Layout = "_Layout3";
}

<section class="contact-1 pt-5" id="contact">
    <div class="contacts-9 pt-lg-4">
        <h5 class="sub-title mb-2 " style="margin-left:13px;">Cho chúng tôi biết suy nghĩ của bạn</h5>

        <div class="container pb-lg-4">
            <div class="d-grid contact-viewhny">
                <div class="map-content-9 mt-lg-0 mt-md-4 mt-2">
                    <form action="https://formsubmit.co/phongngo290902@gmail.com" method="post">
                        <div class="twice-two">
                            <input type="text" class="form-control text_info" name="Name:" id="w3lName" required="" placeholder="Name">
                            <input type="email" class="form-control text_info" name="Email:" id="w3lSender" required="" placeholder="Email">
                        </div>
                        <div class="twice">
                            <input type="text" class="form-control text_info" name="Address" id="w3lSubject" required="" placeholder="Address">
                        </div>
                        <textarea name="Message" class="form-control text_info" id="w3lMessage" required="" placeholder="Message"></textarea>
                        <button type="submit" class="btn btn-style btn-primary mt-4 text_info">Send Message</button>
                    </form>
                </div>
                <div class="cont-detailshnyf mt-lg-0 mt-4">
                    <div class="cont-tophny d-flex">
                        <div class="cont-left text-center">
                            <span class="fa-solid fa-location-dot"></span>
                        </div>
                        <div class="cont-right">
                            <h6>Address</h6>
                            <p>141 Dien Bien Phu</p>
                        </div>
                    </div>
                    <div class="cont-tophny margin-up d-flex">
                        <div class="cont-left text-center">
                            <span class="fa-solid fa-phone"></span>
                        </div>
                        <div class="cont-right">
                            <h6>Telephone</h6>
                            <p><a href="tel:+(84)775663399">+(84)775663399</a></p>
                            <p><a href="tel:+(12)234-11-25">+(12)234-11-25</a></p>
                        </div>
                    </div>
                    <div class="cont-tophny margin-up d-flex">
                        <div class="cont-left text-center">
                            <span class="fa-solid fa-envelope"></span>
                        </div>
                        <div class="cont-right">
                            <h6>Email Us</h6>
                            <p><a href="mailto:phongngo290902@gmail.com" class="mail">phongngo290902@gmail.com</a></p>
                            <p><a href="mailto:tritk20@uef.edu.vn" class="mail">tritk20@uef.edu.vn</a></p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="map-iframe mt-5">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.1815306937624!2d106.70099137571106!3d10.79740458935269!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f315d625c89%3A0x73084dd08a9fe5a4!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBLaW5oIHThur8gVMOgaSBjaMOtbmggVFAuSENNIChVRUYpIC0gQ8ahIHPhu58gMTQx!5e0!3m2!1svi!2s!4v1686702485461!5m2!1svi!2s" width="400" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</section>

