html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.cssbuttons-io-button1 {
    border: 3px solid #ff0;
    color: #ff0;
    background-image: linear-gradient(30deg, #363636, #363636);
    border-radius: 20px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 17px;
    padding: 0.6em 1.5em;
}

    .cssbuttons-io-button1:hover {
        background-position: right center;
        background-size: 200% auto;
        -webkit-animation: pulse 2s infinite;
        animation: pulse512 1.5s infinite;
    }

.contact-viewhny {
    grid-template-columns: 2fr 1fr;
    grid-gap: 40px;
}
a{
    text-decoration: none;
}